
        a {color: mediumvioletred;
             font-family:sans-serif;
            text-decoration: none;
        }
         a:hover {color: blueviolet;
            font-family: fantasy;
            text-decoration: underline;
        }
        
        
        
    body
        {
            background-color: #EEEEEC;
            color: #1D2E5E;
            font-family:Verdana; font-size: 28px;
            text-align: center;
            height: 100%;
          background-image:url(images/light_pink_sky.jpg);height: 100%; 
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
            
        }
        
        p
        {
            font-size: 25px; 
        }
      .topBanner
        {
            font-family: Verdana;
            font-size: 32px;
            border: lightblue 4px solid;
            background-image: url(images/blue_dome.jpg); height: 300px;
            background-size: cover;
            background-position: center center;
            
                
        }
        
        .textDiv
        {
         margin: 30px;
        }
         .footer
        {
           margin: 20px;
           image-orientation: center;
        }
    